<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects - "{{name}}"</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
     <link rel="icon" type="image/x-icon" href="/static/img/lefi-hengker.png">
</head>
<body>
    <header class="site-header">
        <div class="container">
             <nav>
                <div class="nav-item">
                     <a href="{% url 'main:show_main'%}#hero" class="brand nav-link"><i data-lucide="home"></i> <span>Home</span> </a>
                </div>
                  <div class="nav-item">
                     <a href="{% url 'main:show_main'%}#profile" class="brand nav-link"><i data-lucide="id-card"></i><span>Profile</span> </a>
                </div>
                  <div class="nav-item">
                     <a href="{% url 'main:show_projects'%}" class="brand nav-link"><i data-lucide="code"></i><span>Projects</span></a>
                </div>
                  <div class="nav-item">
                     <a href="{% url 'main:show_experience'%}" class="brand nav-link"><i data-lucide="briefcase-business"></i> <span>Experience</span></a>
                </div>
            </nav>
        </div>
    </header>

    <main>
          <div class="container">
               <section class="projects" id="projects">
            <div class="container">
                <h1>Deep Dive into my Projects</h1>
                <div class="project-container">
                    {% for project in project_list %}
                         <div class="project-card">
                         <img class="project-img" src="{{project.image}}" alt="Photo of {{project.title}}"/>
                         <div class="project-desc">
                              <h3>{{project.title}}</h3>
                              <p>{{project.description}}</p>
                              <a href="{{project.url_link}}" target="_blank" class="btn btn-primary">Visit →</a>
                         </div>
                         </div>
                    {% empty %}
                         <p class="empty-state">
                              Belum ada proyek yang ditambahkan.
                         </p>
                    {% endfor %}
                </div>
            </div>
        </section>
          </div>
    </main>

    <footer class="site-footer">
        <div class="container">
            <p>&copy; 2026 "{{ name }}". Fakultas Ilmu Komputer, Universitas Indonesia.</p>
        </div>
    </footer>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>lucide.createIcons();</script>
</body>
</html>
